{
  "singleQuote": true,
  "trailingComma": "all",
  "tabWidth": 2,
  "semi": true,
  "jsxSingleQuote": true,
  "printWidth": 80,
  "overrides": [
    {
      "files": "*.hbs",
      "options": {
        "parser": "glimmer",
        "singleQuote": false
      }
    }
  ]
}
